/* global reset */
html, body, body div, div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, img, s, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, main, nav, section, input, textarea, select, option {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    list-style: none;
    }
    html * {
    max-height: 10000000px;
    }
    a {
    text-decoration: none;
    }
    button {
    cursor: pointer;
    }

    /* structure */

    html{
        height: 100%;
    }
    body{
        height: 100%;
        display:flex;
        background:#fff;
        flex-direction: column;

    }
    header{
        height: 116px;
        flex: none;
     }

    footer{
        background: #316099;

    }

    main{
        flex: 0 auto;
        }

    /* ===================================================== */
